<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('./partials/head.ejs') %>

<body class="d-flex flex-column min-vh-100">
    
    <!-- image bg -->
    <div class="bg-image" style="background-image: url('/public/img/AdobeStock_247608456.jpeg');height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;">
        <div class="bg-light d-flex flex-column min-vh-100" style="--bs-bg-opacity: .6;">
            <!-- login / signup navigation -->
            <nav class="navbar navbar-expand-sm navbar-light full mt-1 ms-5 ps-sm-5">
                <div class="container-flex">
                <ul class="navbar-nav justify-content-start">
                    <li class="nav-item">
                    <a class="navbar-brand" href="/"><span class="fw-bold text-secondary">spot.</span></a>
                    </li>
                </ul>
                </div>
            </nav>

            <!-- content -->
            <div class="container-sm pb-5">
                <div class="row justify-content-center justify-content-lg-end my-5">
                    <div class="col-md-7 col-lg-6 col-xl-4 bg-white shadow-sm rounded py-4 px-4">
                        <div class="text-center pb-4">
                            <h2>Login</h2>
                            <p>Are you an admin? <a href="/login-admin">Log In</a></p>
                        </div>
                        <!-- form -->
                        <form>
                            <!-- email input -->
                            <div class="form-floating mb-2">
                                <input type="email" class="form-control" id="email" placeholder="name@example.com" required>
                                <label for="floatingInput">Email address</label>
                                <div class="email error text-danger"></div>
                            </div>
                            <!-- password input -->
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="password" placeholder="Password" required>
                                <label for="floatingPassword">Password</label>
                                <div class="password error text-danger"></div>
                            </div>
                            <!-- button -->
                            <div class="d-flex flex-column">
                                <button class="btn btn-primary btn-lg mt-5">LOGIN</button>
                            </div>     
                        </form>
                    </div>
                </div>
            </div>
            <!-- transparent bg for footer -->
            <div class="mt-auto bg-white pt-2" style="--bs-bg-opacity: .8;">
                <!-- footer -->
                <%- include('./partials/footer.ejs') %>
            </div>
        </div>  
    </div>

</body>
</html>

<script>
    const form = document.querySelector('form');
    const emailError = document.querySelector('.email.error');
    const passwordError = document.querySelector('.password.error');
    const passwordField = document.getElementById('password');
    const emailField = document.getElementById('email');

    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        // reset errors
        emailError.textContent = '';
        passwordError.textContent = '';
        passwordField.classList.remove('is-invalid');
        emailField.classList.remove('is-invalid');

        // get the values from the form
        const email = form.email.value;
        const password = form.password.value;

        try {
            const res = await fetch('/login', {
                method: 'POST',
                body: JSON.stringify({ email: email, password: password }),
                headers: {'Content-Type': 'application/json' }
            });
            const data = await res.json();

            if (data.errors) {
                emailError.textContent = data.errors.email;
                passwordError.textContent = data.errors.password;

                // mark as invalid accordingly
                if (data.errors.password) {
                    passwordField.classList.add('is-invalid');
                }
                if (data.errors.email) {
                    emailField.classList.add('is-invalid');
                }
            }
            if (data.user) {
                location.assign('/home');
            }
        }
        catch (err) {
            console.log(err);
        }
    })
</script>