<!-- Footer -->
<footer class="text-center mt-auto">
    <!-- Grid container -->
    <div class="container-fluid pt-1">
        <!-- Section: CTA -->
        <% if (!user && !admin) { %>
            <section>
                <p class="d-flex justify-content-center justify-content-lg-end align-items-center me-4">
                    <span class="me-3">Don't have an account yet?</span>
                    <a href="/signup" class="btn btn-primary">GET STARTED</a>
                </p>
            </section>
        <% } %>
        <!-- Section: CTA -->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center pb-4">
        • Copyright <i class="bi bi-c-circle"></i> 2022 spot. •
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" 
integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" 
crossorigin="anonymous"></script>