<nav>
    <div class="site-title">
        <% if (user) { %> 
            <a href="/home"><h1>spot</h1></a>
        <% } else { %> 
            <a href="/"><h1>spot</h1></a>
        <% } %> 
        <p>Live.Safer.</p>
    </div>

    <ul>
        <% if (user) { %> 
            <li>Welcome, <%= user.username %> </li>
            <li><a href="/home">Homepage</a></li>
            <li><a href="/report">Report Positive Case</a></li>
            <li><a href="/contact-tracing">Contact Tracing</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logout">Log Out</a></li>
        <% } else { %> 
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/login">Login</a></li>
        <% } %> 
    </ul>
</nav>