<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('./partials/head.ejs') %>
<body>
    
    <!-- navigation -->
    <%- include('./partials/nav.ejs') %> 

    <div>
        <h1>404 - OOPS!</h1>
        <h2>That page does not exist</h2>
    </div>

    <!-- footer -->
    <%- include('./partials/footer.ejs') %>

</body>
</html>