<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('./partials/head.ejs') %>
<body>
    
    <!-- navigation -->
    <%- include('./partials/nav.ejs') %> 

    <!-- content -->
    <h1>Hi admin!</h1>
    
    <!-- footer -->
    <%- include('./partials/footer.ejs') %>

</body>
</html>