<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('./partials/head.ejs') %>
<body>
    
    <!-- navigation -->
    <%- include('./partials/nav.ejs') %> 

    <!-- content -->
    <h1>Hi admin!</h1>
    <div class="login content">
        <form>
            <label for="numberOfUsers">Number of users:</label>
            <input type="number" id="numberOfUsers">
            <div class="number error"></div>
            <label for="dateSelectionStart">Visits from:</label>
            <input type="date" id="dateSelectionStart">
            <div class="startDate error"></div>
            <label for="dateSelectionEnd">Visits to:</label>
            <input type="date" id="dateSelectionEnd">
            <div class="endDate error"></div>
            <button>Run</button>
            <div class="message"></div>
        </form>
    </div>
    
    <!-- footer -->
    <%- include('./partials/footer.ejs') %>

</body>
</html>

<script>
    const form = document.querySelector('form');
    const numberError = document.querySelector('.number.error');
    const startDateError = document.querySelector('.startDate.error');
    const endDateError = document.querySelector('.endDate.error');
    const message = document.querySelector('.message');

    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        // reset errors
        numberError.textContent = '';
        startDateError.textContent = '';
        endDateError.textContent = '';

        // get the values from the form
        const numberOfUsers = form.numberOfUsers.value
        const startDate = form.dateSelectionStart.value;
        const endDate = form.dateSelectionEnd.value;

        try {
            const res = await fetch('/add-system-data', {
                method: 'POST',
                body: JSON.stringify({ numberOfUsers: numberOfUsers, startDateInput: startDate, endDateInput: endDate }),
                headers: {'Content-Type': 'application/json' }
            });
            const data = await res.json();

            if (data.errors) {
                console.log(data.errors);
                numberError.textContent = data.errors.number;
                startDateError.textContent = data.errors.startDate;
                endDateError.textContent = data.errors.endDate
                message.textContent = data.errors.general;
            }
            if (data.message) {
                message.textContent = data.message;
                setTimeout(() => {  location.assign('/dashboard'); }, 5000); // redirect after 5 sec
            }
        }
        catch (err) {
            console.log(err);
        }
    })
</script>