<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('./partials/head.ejs') %>
<body>

    <!-- navigation -->
    <% if (user) { %> 
      <%- include('./partials/nav.ejs') %> 
    <% } else { %> 
      <div class="topnav-right">
        <a href="/login">Login</a>
        <a href="/signup">Get Started!</a>
      </div>
          <% } %> 

    <!-- content -->
 <div>
    <img src="https://raw.githubusercontent.com/hrs-tz/spot/7dbe50b8143660bf53b74ae77ed36a1fb992657b/styles/img/work-illustration.svg" class="center" >
 </div>

    <!-- footer -->
    <%- include('./partials/footer.ejs') %>
    
</body>
</html>