<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('./partials/head.ejs') %>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

    <!-- navigation -->
    <%- include('./partials/nav.ejs') %> 

    <!-- content -->
 <div>
    <img src="https://raw.githubusercontent.com/hrs-tz/spot/7dbe50b8143660bf53b74ae77ed36a1fb992657b/styles/img/work-illustration.svg" >
 </div>

    <!-- footer -->
    <%- include('./partials/footer.ejs') %>
    
</body>
</html>