%>
<!-- <div class="site-title">
        <!-- <a href="/home"><h1>spot</h1></a>     <p>Live.Safer.</p>
</div> -->

<% if (user) { %> 
    <div class="topnav class="w3-row" id="myTopnav">
        <a href="/home" class="site-title w3-s2 m2 l2 w3-left"><h1>spot.</h1></a>
        <!-- <a href="#"> Welcome, <%= user.username %> </a> -->
        <a href="/home" class="w3-col s12 m2 l2" style="padding-top: 34px;">Homepage</a>
        <a href="/report" class="w3-col s12 m2 l2" style="padding-top: 34px;">Report</a>
        <a href="/contact-tracing" class="w3-col s12 m2 l2" style="padding-top: 34px;">Tracing</a>
        <a href="/profile" class="w3-col s12 m2 l2" style="padding-top: 34px;">Profile</a>
        <a href="/logout" class="w3-col s12 m2 l2" style="padding-top: 34px;">Logout</a>
        <a href="javascript:void(0);" class="icon " onclick="myFunction()">  <i class="fa fa-bars"></i>  </a>
  </div> 
  <% } else { %> 
    <div class="topnav" id="myTopnav">
    <div class="topnav-right">
      <a href="/login">Login</a>
      <a href="/signup">Get Started!</a>
      <a href="javascript:void(0);" class="icon " onclick="myFunction()">  <i class="fa fa-bars"></i>  </a>
    </div>
  </div>
        <% } %> 
<br>
  
  
  <script>
  function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
      x.className += " responsive";
    } else {
      x.className = "topnav";
    }
  }
  </script>
    <script>
  function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
      x.className += " responsive";
    } else {
      x.className = "topnav";
    }
  }
  </script>
   